/Clase#1 Estructuras de Datos/nbproject/private/
/Clase#2 Estructuras de Datos/Manejo_De_Archivos/nbproject/private/
/Clase#2 Estructuras de Datos/Manejo_De_Archivos/build/
/TallerArchivos_Estructuras_de_Datos/nbproject/private/
/TallerArchivos_Estructuras_de_Datos/build/
/Clase#3 Estructuras de Datos/nbproject/private/
/Clase#3 Estructuras de Datos/build/
/Clase #3 Estructuras de Datos/nbproject/private/
/Clase #3 Estructuras de Datos/build/
/Clase #4 Estructuras de Datos/Tarea Clase #4/nbproject/private/
/Clase #4 Estructuras de Datos/Tarea Clase #4/build/
/Clase #4 Estructuras de Datos/Tarea Clase #4/dist/
/Semana #4/Clase #1/nbproject/private/
/Semana #4/Clase #1/build/
/Semana #4/mavenproject1/target/
/Clase#1 Estructuras de Datos/build/
/Practica Examen Parcial Estructuras de Datos/nbproject/private/
/Practica Examen Parcial Estructuras de Datos/build/
/Semana #5 B1/nbproject/private/
/Semana #5 B1/build/
/Semana#6 Estructuras de Datos B1/nbproject/private/
/Semana#6 Estructuras de Datos B1/build/
/Semana#6 Estructuras de Datos B1/Taller Pilas y Colas/nbproject/private/
/Semana#6 Estructuras de Datos B1/Taller Pilas y Colas/build/
/Semana 7 Clase 1 B1/nbproject/private/
/Semana 7 Clase 1 B1/build/
