/Clase#1 Estructuras de Datos/nbproject/private/
/Clase#2 Estructuras de Datos/Manejo_De_Archivos/nbproject/private/
/Clase#2 Estructuras de Datos/Manejo_De_Archivos/build/
/TallerArchivos_Estructuras_de_Datos/nbproject/private/
/TallerArchivos_Estructuras_de_Datos/build/
/Clase#3 Estructuras de Datos/nbproject/private/
/Clase#3 Estructuras de Datos/build/
/Clase #3 Estructuras de Datos/nbproject/private/
/Clase #3 Estructuras de Datos/build/
/Clase #4 Estructuras de Datos/Tarea Clase #4/nbproject/private/
/Clase #4 Estructuras de Datos/Tarea Clase #4/build/
